.header__logo {
  position: fixed;
  top: 50px;
  left: 120px;
  z-index: 1000;
}

.header__logo svg {
  width: 330px;
  height: auto;
  fill: #280f4b;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #DEDCCE; /* Achtergrondkleur van de hele browser */
}
